* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.container .d_flex_cont {
  width: calc(33% - 10px);
  text-align: center;
  margin-bottom: 20px;
  border: 1px solid #000000;
  border-radius: 5%;
}

.container .d_flex_cont:not(:nth-child(3n+3)) {
  margin-right: 10px;
}

